.section-container {
    background-color: #CADCFC;
}

h2 {
    color: #00246B;
}

.text-muted {
    font-size: 1.05rem;
    line-height: 1.7;
}

.object-fit-cover {
    object-fit: cover;
    height: 100%;
}
