@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {

    --celeste: #cadcfc;
    --azulmedio: #8ab6f9;
    --azuloscuro: #00126b;
    --textooscuro: #0c0c0c;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background:var(--celeste);
    font-family: 'Segoe UI', sans-serif;
    color: var(--texto-oscuro);
}

h1, h2 {
    color: var(--azuloscuro);
    font-family: 'Lilita One', sans-serif;
}




/*|||||| PERSONALIZACIÓN DE BOTONES ||||||*/

/*Boton azul oscuro*/
.btn-azul-oscuro {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px 10px;
    transition: ease-in-out.5s;
    border:none;
    font-size: 19px;
}
.btn-azul-oscuro:hover {
    box-shadow: inset 0 -100px 0 0 var(--azulmedio);
    border-color: var(--azulmedio);
    color: var(--azuloscuro);
}
.btn-azul-oscuro:active {
    transform: scale(0.8);
}

/*Boton azul medio*/
.btn-azul-medio {
    background: var(--azulmedio);
    color: var(--azuloscuro);
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px 10px;
    transition: ease-in-out.5s;
    border:none;
    font-size: 19px;
}
.btn-azul-medio:hover {
    box-shadow: inset 0 -100px 0 0 var(--azuloscuro);
    border-color: var(--azuloscuro);
    color: var(--celeste);
}
.btn-azul-medio:active {
    transform: scale(0.8);
}

/*Boton agregar al carrito azul oscuro*/
.agregar-carrito {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px 10px;
    transition: ease-in-out.5s;
    border:none;
    font-size: 19px;
}
.agregar-carrito:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.agregar-carrito:active {
    transform: scale(0.8);
}

/*Boton ver producto azul oscuro*/
.ver-producto {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px 10px;
    transition: ease-in-out.5s;
    border:none;
    text-decoration: none;
    font-size: 19px;
}
.ver-producto:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.ver-producto:active {
    transform: scale(0.8);
}

/*Boton de ingrsar en el modal de Login*/
.btn-ingresar {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px 10px;
    transition: ease-in-out.5s;
    border:none;
    font-size: 19px;
}
.btn-ingresar:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.btn-ingresar:active {
    transform: scale(0.8);
}

/*Boton de registrarse en el modal de Registro*/
.btn-registrarse {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px 10px;
    transition: ease-in-out.5s;
    border:none;
    margin-top: 22px;
    font-size: 19px;
}
.btn-registrarse:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.btn-registrarse:active {
    transform: scale(0.8);
}


/*|||||| PERSONALIZACIÓN DEL NAVBAR ||||||*/

.navbar {
    padding: 15px 20px;
    background: transparent;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.navbar.scrolled {
    background-color: var(--celeste); /* cambia aquí si prefieres otro */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.navbar:hover{
    background-color: var(--celeste) ;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.4);
}
.logo-nav {
    height: 50px; /* Ajusta a tu necesidad */
    width: auto;  /* Mantiene proporción */
}
.navbar-nav .nav-link {
    font-size: 17px;
    font-weight: 500;
    color: #00246b;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #8ab6f9;
}

/*Botón de Menú Hamburguesa*/
.navbar-toggler {
    border: none;    
    padding: 4px;   
    color: var(--azuloscuro);           
  }

/* Estilo general del MENU dropdown */
.dropdown-menu {
  background-color: var(--azuloscuro);
  border: none;
  border-radius: 12px;
  padding:2px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Ítems del menú */
.dropdown-menu .dropdown-item {
  color: var(--celeste);
  font-weight: 500;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover en ítems */
.dropdown-menu .dropdown-item:hover {
  background-color: var(--azulmedio);
  color: var(--azuloscuro);
  border-radius: 8px;
}

/* Íconos */
.dropdown-menu i {
  color: var(--celeste);
  font-size: 16px;
  transition: color 0.3s;
}

/* Hover en íconos */
.dropdown-menu .dropdown-item:hover i {
  color: var(--azuloscuro);
}

/* Separador */
.dropdown-menu .dropdown-divider {
  border-color: var(--azulmedio);
  margin: 8px 0;
}

/*|||||| Personalización del carrito de compras ||||||*/


/*Boton para abrir el carrito*/
.carro{
    border: none;
    padding: 10px;
    background-color: transparent;
}
.carro img{
    width: 30px;
    height: 30px;
}
.carro:active{
    transform: scale(1.2);
}


/* Estilo para el video de fondo */
.style-banner{
    height: 100vh;

}
.banner-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 58% center;
    z-index: 1;
    transition: opacity 1s linear;
    opacity: 1; 
    margin-bottom: 50px;
}

/* Contenido superpuesto al video */
.banner-content {
    
    top: 50%; 
    left: 0;
    right: 0;
    z-index: 2;
}

/*|||||| Diseño del carrusel ||||||*/

.carrusel-fondo {
    background: linear-gradient(80deg, var(--celeste), var(--azulmedio));
    padding: 30px 30px 0px 30px;
    border-radius: 25px;
    position: relative;
    overflow: visible;
    margin: 5px auto;
    max-width: 1200px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.bloque-carrusel{
    margin-top: 40px;
}
.carrusel-temporada h1{
    font-weight: 700;
    font-size: 65px;
    color: var(--azuloscuro);
    margin-bottom: 0;
}

.swiper {
    height: 610px;
    width: 85%;
    padding: 50px 9px;
}

.swiper-slide { 
    height: 480px;
    border-radius: 15px;
    background-color: #00126b;
    transition: transform 0.3s;
}

.swiper-slide.swiper-slide-active {
    transform: scale(1.2);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--azuloscuro);
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 52%;
    transform: translateY(-10%);
    z-index: 10;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
}

/* Posicionarlas al borde de los slides laterales */
.swiper-button-prev {
    left: 0;
    margin-left: 0px; /* ajusta según necesidad */
}

.swiper-button-next {
    right: 0;
    margin-right: 0px;
}


/*Cards del carrusel*/
.carrusel-card {
    border: 2px solid var(--azuloscuro);
    border-radius: 15px;
    overflow: hidden;
    background-color: #fefbf6;
    padding: 5px 35px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.carrusel-card img {
    height: 240px;
    width: auto;
    object-fit: contain;    
}

.carrusel-card h5 {
    font-size: 18px;
    color:var(--azuloscuro);
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.carrusel-card p {
  font-size: 15px;
  color: #111111;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 0;
}



/* Cards de productos */    
.product-card {
    border: 2px solid var(--azulmedio);
    border-radius: 15px;
    overflow: hidden;
    background-color: #f8f7f7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-card:hover {
    transform:scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

.img-producto {
    height: 240px;
    object-fit: contain;
    padding: 10px;
}

.product-card h5 {
    font-size: 19px;
    color:var(--azuloscuro);
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* card-body que ocupa el resto de espacio y distribuye bien */
.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px  20px;
    
}

.product-card p {
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  font-size: 17px;
  color: #111111;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 5px;
}


/*|||||| Seccion de iconos ||||||*/

.icon-card {
    background-color: #f6f7f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease;
    height: 100%;
    border: 2px solid var(--azulmedio);
  }
  
  .icon-card:hover {
    transform: translateY(-5px);
  }
 
  .icon-txt h3 {
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #111;
  }
  
  .icon-txt p {
    font-size: 15px;
    color: #111;
  }

/*|||||| Seccion de galería ||||||*/

.gallery-fondo {
    background: linear-gradient(135deg, var(--azulmedio), var(--celeste));
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    position: relative;
    overflow: visible;
    margin: 5px auto;
    max-width: 1800px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.gallery-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
    gap: 60px;
    flex-wrap: wrap;
}

.info-texto {
    max-width: 550px;
    color: #00246B;
}

.info-texto h2 {
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--azuloscuro);
    font-weight: bold;
}

.info-texto p {
    font-family: 'Baloo Bhaijaan 2', sans-serif ;
    font-size: 19px;
    line-height: 1.6;
}

.gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 30px;
}

.gallery img {
    object-fit: cover;
    width: calc(var(--size) * 2.5);
    height: calc(var(--size) * 2.5);
    clip-path: path("M112.5,12.5 C125,0 125,0 137.5,12.5 237.5,112.5 237.5,112.5 237.5,112.5 250,125 250,125 237.5,137.5 237.5,137.5 137.5,237.5 137.5,237.5 125,250 125,250 112.5,237.5 112.5,237.5 12.5,137.5 12.5,137.5 0,125 0,125 12.5,112.5Z");
    transition:clip-path 0.25s, filter 0.75s;
    grid-column: auto / span 2;
    border-radius: 5px;
}

/* efecto: al hacer hover sobre la galería, baja brillo de todas */
.gallery:hover img {
  filter: brightness(0.6);
}

/* pero la imagen bajo el cursor se ve nítida y se agranda */
.gallery img:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
  z-index: 1;
}

.gallery img:nth-child(5n-1) {
    grid-column: 2 / span 2;
}

.gallery img:hover,
.gallery img:focus {
    clip-path: path("M0,0 C0,0 250,0 250,0 250,0 250,125 250,125 250,125 250,250 250,250 250,250 125,250 125,250 125,250 125,250 0,250 0,250 0,125 0,125 0,125 0,125 0,125Z");
    z-index: 1;
    transition: clip-path 0.25s, filter 0.25s;
}

.gallery img:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}


/*|||||| Footer ||||||*/
.foot{
    background-color: var(--azuloscuro);
}
.text-foot{
    color:var(--azulmedio);
}




/* ////////SECCION DE FORMULARIOS///////////*/

/*Fondo oscuro semitransparente */
.modal-fade {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cuadro blanco del formulario */
.formulario {
    display:flex;
    background-color: white; ;
    width: 900px;
    height: 580px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

/* Estructura de la imagen y formulario */
.form-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Imagen del formulario*/
.form-image {
    display: block;
}

/* Formulario a la derecha*/
.form-content-login {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding:15px;
    align-items: center;
    text-align: center;
    
}
.form-content-registro {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding:15px;
    align-items: center;
    text-align: center;
}
/*Título del formulario */
.formulario h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 42px;
    font-weight:700;
    color: var(--azuloscuro);  
}
.formulario h2 {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight:700;
    color: var(--azuloscuro); 
}

/*Subtítulo del formulario */
.form-subtitle {
    font-size: 16px;
    color: var(--azuloscuro);
    margin-bottom: 10px;
}


 .input-group-text {
  background-color: var(--azuloscuro);
  border: none;
  color: var(--celeste)
}

.form-control {
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: var(--celeste);
  color: #00246B;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid var(--azuloscuro);
  background-color: var(--celeste);
}

.form-control::placeholder {
  color: var(--azuloscuro);
}

/* Enlace recordar contraseña */
.recordar a {
    display: block;
    text-align: right;
    font-size: 16px;
    color: #00246B;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recordar a:hover{
    text-decoration: underline;
}


/* Enlace registrarse en modal login*/
.registrarse a {
    margin-top: 20px;
    font-size: 16px;
    color: #00246B;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

.loguearse a {
    margin-top: 20px;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
}

.loguearse a:hover {
    text-decoration: underline;
}

/* Botón de Google */
.google-login img {
    margin-top: 14px;
    width: 35px;
    cursor: pointer;
}

/* Botón cerrar */
.close-modal {
    position: absolute;
    top: 1px;
    right: 12px;
    background: none;
    border: none;
    font-weight: 500;
    color: var(--azuloscuro);
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}
.close-modal:hover {
    transform: scale(1.5);
}

/*||| Sección de Edición de Perfil |||*/
.edit-modal{
    margin-top: -70px;
}
.perfil-card {
    background-color: white;
    border-radius: 15px;
}

.perfil-header {
    font-size: 40px;
    font-family: 'Lilita One', sans-serif;
}

.perfil-input {
    border: 2px solid var(--azulmedio);
    border-radius: 0 10px 10px 0 !important;
    transition: 0.3s ease;
}

.input-group-text {
    background-color: var(--azulmedio);
    color: white;
    border-radius: 10px 0 0 10px;
    border: 2px solid var(--azulmedio);
}

.perfil-input:focus {
    border-color: var(--azuloscuro);
    box-shadow: 0 0 0 0.2rem rgba(0, 18, 107, 0.25);
}


/*ALERTAS*/

#toast-container > .toast-success {
    background-color: #28a745; /* Verde */
    color: white;
    font-size: 17px;
}

#toast-container > .toast-error {
    background-color: #dc3545; /* Rojo */
    color: white;
    font-size: 17px;
}

#toast-container > .toast-warning {
    background-color: #ffc107; /* Amarillo */
    color: black;
    font-size: 17px;
}

#toast-container > .toast-info {
    background-color: #17a2b8; /* Azul */
    color: white;
    font-size: 17px;
}


/* Parte responsiva*/
@media (max-width:991px) {

 .carrusel-card img {
        width: auto; /* Imagen que nunca se pase del card */
        height: 220px;
    }
.swiper-slide.swiper-slide-active {
    transform:none; /* No hacer zoom en pantallas pequeñas */
}

  .formulario {
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    max-height: 550px;
  }

  .form-image {
    display: none;
  }

  .form-content-login {
    padding: 10px;
    justify-content: center;
    width: 100%;
    padding: 25px;
  }
  .form-content-registro {
    justify-content: center;
    width: 100%;
    padding: 25px;
  }

  .logo-formulario {
    margin-top: 0;
  }
   .gallery {
    display: none;
  }

  .gallery-section {
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
  }

  .info-texto {
    text-align: center;
    max-width: 100%;
  }

  .info-texto h2 {
    font-size: 32px;
  }

  .info-texto p {
    font-size: 16px;
  }
}

/* Ajustes responsive extra */
@media (max-width: 768px) {
    
    .carrusel-card img {
        width: auto; /* Imagen que nunca se pase del card */
        height: 220px;
    }

    .swiper-slide.swiper-slide-active {
        transform:none; /* No hacer zoom en pantallas pequeñas */
    }
    .product-card img {
        width: 80%; /* Imagen que nunca se pase del card */
        height: auto;
    }

    .formulario {
        max-width: 360px;
        width: 100%;
        max-height: 450px;
      }
    .form-image {
        display: none;
    }

    .form-content-login {
        justify-content: center;
        width: 100%;
    }
     .logo-login{
        display: none;
     }
    
    .form-content-registro {
        justify-content: center;
        width: 100%;
    }
    .form-content-registro h2 {
        margin-top: 15px;
    }
     .form-content-registro p {
        display: none;
    }
    .btn-registrarse {
        margin-top: 10px;
    }
    .gallery-section {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
  }

}
