@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {

    --celeste: #cadcfc;
    --azulmedio: #8ab6f9;
    --azuloscuro: #00126b;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
     
    background-color:var(--celeste);
    font-family: 'Poppins', sans-serif;
    color: var(--texto-oscuro);

}

/*|||||| PERSONALIZACI칍N DE BOTONES ||||||*/


/*Boton azul oscuro*/
.btn-azul-oscuro {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.btn-azul-oscuro:hover {
    box-shadow: inset 0 -100px 0 0 var(--azulmedio);
    border-color: var(--azulmedio);
    color: var(--azuloscuro);
}
.btn-azul-oscuro:active {
    transform: scale(0.8);
}

/*Boton azul medio*/
.btn-azul-medio {
    background: var(--azulmedio);
    color: var(--azuloscuro);
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.btn-azul-medio:hover {
    box-shadow: inset 0 -100px 0 0 var(--azuloscuro);
    border-color: var(--azuloscuro);
    color: var(--azulmedio);
}
.btn-azul-medio:active {
    transform: scale(0.8);
}

/*Boton agregar al carrito azul oscuro*/
.agregar-carrito {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.agregar-carrito:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.agregar-carrito:active {
    transform: scale(0.8);
}

/*Boton ver producto azul oscuro*/
.ver-producto {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.ver-producto:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.ver-producto:active {
    transform: scale(0.8);
}



/*|||||| PERSONALIZACI칍N DEL NAVBAR ||||||*/

.navbar {
    padding: 15px 20px;
    background: transparent; /* Usa la variable de color que ya tienes */
}
.navbar:hover{
    background-color: var(--celeste) ;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #00246b;
}
.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #00246b;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #8ab6f9;
}

/*Bot칩n de Men칰 Hamburguesa*/
.navbar-toggler {
    border: 3px solid var(--azuloscuro);    
    padding: 4px;              
  }
  
.user-avatar {
    width: 32px;
    height: 32px;
    background-color: #3b82f6;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bold;
}
/* Eliminar flecha del dropdown-toggle (opcional) */
.dropdown-toggle::after {
    display: none !important;
}
/* Ajustar posici칩n del dropdown */
.dropdown-menu {
    min-width: 160px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
/*|||||| Personalizaci칩n del carrito de compras ||||||*/

/* Fondo del carrito de compras */
.carrito-offcanvas {
   
    background-image: url('Imagenes/fondomujer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Boton para abrir el carrito*/
.carro{
    border: none;
    padding: 10px;
    background-color: transparent;
}
.carro img{
    width: 30px;
    height: 30px;
}
.carro:active{
    transform: scale(1.2);
}

/*Modificacion del tama침o de la barra lateral*/
.carrito-offcanvas {
    --bs-offcanvas-width: 480px;
  }
/* Imagen de producto m치s grande y redondeada */
  .carrito-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* Tabla m치s limpia */
  .carrito-tabla th, .carrito-tabla td {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }


/* Estilo para el video de fondo */
.style-banner{
    height: 100vh;

}
.banner-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 58% center;
    z-index: 1;
    transition: opacity 1s linear;
    opacity: 1; 
}

/* Efecto de fade */
.scroll-fade {
    opacity: 1;
}

/* Clase que hace que desaparezca */
.scroll-fade.fade-out {
    opacity: 0;
}
/* Contenido superpuesto al video */
.banner-content {
    
    top: 50%; 
    left: 0;
    right: 0;
    z-index: 2;
   
}

/* Estilos para el nombre de la marca */
.brand-name {
    font-size: 70px;
    font-weight: 500;
    color: #111111;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 10px;
    font-family: "oswald" sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el subt칤tulo */
.collection-subtitle {
    font-family:"Courgette", sans-serif;
    font-size: 35px;
    color: #111111;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    margin-bottom: 20px;
}


/*Dise침o del carrusel*/
.carrusel h1{
    font-family: 'oswald', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: var(--azuloscuro);
}
.img-acuarela{
    position: absolute;
    width: 100%;
    height: 600px;
    opacity: 0.8; /* Ajusta la opacidad seg칰n sea necesario */
    z-index: -1;
}
.swiper {
    width: 80%;
    padding-top: 80px;
    padding-bottom: 40px;
 }
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 200px;
    margin: 0;
}
.swiper-slide.swiper-slide-active {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    margin: 0;
}
.product-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px 7px;
    text-align: center;
    height: 100%;
    width: 100%;
  }

.product-card img {
    padding: 2% 0;
    height: 250px;
    width: auto;
    object-fit: contain;
}

.product-card h3 {
  font-size: 1.2rem;
  color:var(--azuloscuro);
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 13px;
  margin-bottom: 15px;
  color: #111111;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--azuloscuro);
  top: 55%;
  transform: translateX(-5%);
  z-index: 10;
}

/*|||||| Seccion ofertas ||||||*/
.ofertas{
    padding: 40px;
    color: var(--azuloscuro);
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}
.ofert-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    transition: all 0.3s;
    padding: 4% 0;
    border: 2px solid var(--azulmedio);
  }
.ofert-card:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    transform:scale(1.05)
  }
.ofert-img {
    padding: 5px;
    height: 250px;
    object-fit: contain;
    padding: 0;
  }
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.card-body h5{
    color: var(--azuloscuro);
  }
.card-body p{
    color:#111111;
  }
.precio{
    color: var(--azuloscuro);
}


/*|||||| Seccion de iconos ||||||*/

.icon-card {
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease;
    height: 100%;
  }
  
  .icon-card:hover {
    transform: translateY(-5px);
  }
 
  .icon-txt h3 {
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #111;
  }
  
  .icon-txt p {
    font-size: 15px;
    color: #111;
  }
  

.btn-rese침a{
    background-color: var(--azuloscuro);
    color: var(--celeste);
}

.btn-rese침a:hover{
    background-color: var(--azulmedio);
    color: var(--azuloscuro);
}
.opinion-title {
    font-size: 30px;
    color: var(--azuloscuro);
}

.card{
    background-color: white;
}
.card-title{
    color: var(--azuloscuro);
}


.stars{
    color:#c2c214;
}
.foot{
    background-color: var(--azuloscuro);
}
.footer{
    color: #ffffff;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.footer-column {
 flex: 1;
 margin: 0 15px;
}
.text-foot{
    color:var(--azulmedio);
}
.footer-column h5 {
 color: var(--texto-oscuro);
 font-size: 18px;
 margin-bottom: 10px;   
} 
.footer-column u1 {
    list-style: none;
    padding: 0;
}
.footer-column u1 li {
    margin-bottom: 8px;
}
.footer-column u1 li a{
color: white;
text-decoration:none;
font-size: 14px;
}
.footer-column u1 li a :hover {
    text-decoration: underline;
}
.footer-contact p {
margin: 5px 0;
font-size: 14px;
}
.footer-contact a {
    color: white;
    text-decoration: none;
}
.footer-contact a:hover {
    text-decoration: underline;
}
.footer-social a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.footer-social a:hover {
    color: #ff3b3f
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}
.link h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

/* ////////SECCION DE FORMULARIOS///////////*/


/*Fondo oscuro semitransparente */
.modal-fade {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cuadro blanco del formulario */
.formulario {
    display:flex;
    background-color: white ;
    width: 900px;
    height: 570px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin-top: -20px;
}

/* Estructura de la imagen y formulario */
.form-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Imagen a la izquierda */
.form-image {
    width: 55%;
}

/* Formulario a la derecha*/
.form-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

/*T칤tulo del formulario */
.formulario h1 {
    margin-top: 68px;
    font-size: 38px;
    font-weight:700;
    color: var(--azuloscuro); 
}
.formulario h2 {
    margin-top: 35px;
    font-size: 38px;
    font-weight:700;
    color: var(--azuloscuro); 
}

/*Subt칤tulo del formulario */
.form-subtitle {
    font-size: 13px;
    color: var(--azuloscuro);
    margin-bottom: 18px;
}

/*Inputs */
.username {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.username input {
    width: 300px;
    padding: 6px 20px;
    border: none; 
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--celeste);
}

/* Estilo del label */
.username label {
    position: absolute;
    left: 12px;
    top: 9px;
    color: var(--azuloscuro);
    font-size: 14px;
    transition: 0.3s;
}

/*Efecto al hacer foco */
.username input:focus ~ label, 
.username input:valid ~ label{
    top: -17px;
    left: 10px;
    font-size: 12px;
    color: var(--azuloscuro);
}

/* Enlace recordar contrase침a */
.recordar a {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recordar a:hover{
    text-decoration: underline;
}

/*Bot칩n de enviar */
.btn-ingresar {
    padding: 5px 21px;
    background-color: var(--azuloscuro);
    color: var(--celeste);
    text-align: center;
    cursor: pointer;
    transition: ease-out 0.6s;
    text-decoration: none;
    border:none;
    border-radius: 25px;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 var(--azuloscuro);
    margin-top: 10px;
}

.btn-ingresar:active {
    transform: scale(1.2);
  }

/*Bot칩n de registrarse*/
.btn-registrarse {
    padding: 5px 21px;
    background-color: var(--azuloscuro);
    color: var(--celeste);
    text-align: center;
    cursor: pointer;
    transition: ease-out 0.6s;
    text-decoration: none;
    border:none;
    border-radius: 25px;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 var(--azuloscuro);
    margin-top:35px;
}

.btn-registrarse:active {
    transform: scale(1.2);
  }

/* Enlace registrarse en modal login*/
.registrarse a {
    margin-top: 20px;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

/*Enlace de iniciar sesion en modal de registro*/
#btn-iniciar {
    margin-top: 20px;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
}

#btn-iniciar:hover{
    text-decoration: underline;
}

/* Bot칩n de Google */
.google-login img {
    margin-top: 15px;
    width: 35px;
    cursor: pointer;
}

/* Bot칩n cerrar */
.close-modal {
    position: absolute;
    top: 1px;
    right: 12px;
    background: none;
    border: none;
    font-weight: 500;
    color: var(--azuloscuro);
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}
.close-modal:hover {
    transform: scale(1.5);
}




/*ALERTAS*/

#toast-container > .toast-success {
    background-color: #28a745; /* Verde */
    color: white;
}

#toast-container > .toast-error {
    background-color: #dc3545; /* Rojo */
    color: white;
}

#toast-container > .toast-warning {
    background-color: #ffc107; /* Amarillo */
    color: black;
}

#toast-container > .toast-info {
    background-color: #17a2b8; /* Azul */
    color: white;
}


/* Parte responsiva*/
@media (max-width:991px) {

    .menu{
        padding:20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:#181818;
        display: none;
    }

    .menu .navbar ul li a {
        color: #ffffff;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }
    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display:none
    }

    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }

    .products{
        padding: 0 30px 30px 30px;
    }

    .products h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img{
        width: 230px;
        height: 260px;
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }

    .icon-1{
        margin-bottom: 30px;
    }


    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}

.section{
    display: none;
 }
 .section.active {
    display: block;
}


/* Ajustes responsive extra */
@media (max-width: 768px) {
    .swiper{
        width: 85%;
    }
    .swiper-slide.swiper-slide-active {
        transform: scale(1); /* 游댠 No hacer zoom en pantallas peque침as */
    }
    .product-card img {
        width: 80%; /* 游댠 Imagen que nunca se pase del card */
        height: auto;
    }
}