@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {

    --celeste: #cadcfc;
    --azulmedio: #8ab6f9;
    --azuloscuro: #00126b;
    --textooscuro: #0c0c0c;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
     
    background-color:var(--celeste);
    font-family: 'Poppins', sans-serif;
    color: var(--texto-oscuro);

}


/*|||||| PERSONALIZACIÓN DE BOTONES ||||||*/


/*Boton azul oscuro*/
.btn-azul-oscuro {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.btn-azul-oscuro:hover {
    box-shadow: inset 0 -100px 0 0 var(--azulmedio);
    border-color: var(--azulmedio);
    color: var(--azuloscuro);
}
.btn-azul-oscuro:active {
    transform: scale(0.8);
}

/*Boton azul medio*/
.btn-azul-medio {
    background: var(--azulmedio);
    color: var(--azuloscuro);
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.btn-azul-medio:hover {
    box-shadow: inset 0 -100px 0 0 var(--azuloscuro);
    border-color: var(--azuloscuro);
    color: var(--azulmedio);
}
.btn-azul-medio:active {
    transform: scale(0.8);
}

/*Boton agregar al carrito azul oscuro*/
.agregar-carrito {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.agregar-carrito:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.agregar-carrito:active {
    transform: scale(0.8);
}

/*Boton ver producto azul oscuro*/
.ver-producto {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.ver-producto:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.ver-producto:active {
    transform: scale(0.8);
}

/*Boton de ingrsar en el modal de Login*/
.btn-ingresar {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.btn-ingresar:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.btn-ingresar:active {
    transform: scale(0.8);
}

/*Boton de registrarse en el modal de Registro*/
.btn-registrarse {
    background-color: var(--azuloscuro);
    color: var(--celeste); ; 
    font-weight: bold;
    border-radius: 15px;
    padding: 7px 13px;
    transition: ease-in-out.5s;
    border:none;
}
.btn-registrarse:hover {
        box-shadow: inset 0 -100px 0 0 var(--azulmedio);
        border-color: var(--azulmedio);
        color: var(--azuloscuro);
}
.btn-registrarse:active {
    transform: scale(0.8);
}




/*|||||| PERSONALIZACIÓN DEL NAVBAR ||||||*/

.navbar {
    padding: 15px 20px;
    background: transparent; /* Usa la variable de color que ya tienes */
}
.navbar.scrolled {
    background-color: #8ab6f9; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar:hover{
    background-color: var(--celeste) ;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.4);
}
.logo-nav {
    height: 50px; /* Ajusta a tu necesidad */
    width: auto;  /* Mantiene proporción */
}
.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #00246b;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #8ab6f9;
}

/*Botón de Menú Hamburguesa*/
.navbar-toggler {
    border: 3px solid var(--azuloscuro);    
    padding: 4px;              
  }


/*|||||| Personalización del carrito de compras ||||||*/

/* Fondo del carrito de compras */
.carrito-offcanvas {
   
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Boton para abrir el carrito*/
.carro{
    border: none;
    padding: 10px;
    background-color: transparent;
}
.carro img{
    width: 30px;
    height: 30px;
}
.carro:active{
    transform: scale(1.2);
}

/*Modificacion del tamaño de la barra lateral*/
.carrito-offcanvas {
    --bs-offcanvas-width: 480px;
  }

/* Imagen de producto más grande y redondeada */
.carrito-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}
/* Tabla más limpia */
.carrito-tabla th, .carrito-tabla td {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}

/* Estilo para el video de fondo */
.style-banner{
    height: 100vh;

}
.banner-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 58% center;
    z-index: 1;
    transition: opacity 1s linear;
    opacity: 1; 
}

/* Contenido superpuesto al video */
.banner-content {
    
    top: 50%; 
    left: 0;
    right: 0;
    z-index: 2;
}

/*|||||| Diseño del carrusel ||||||*/

.carrusel h1{
    font-family: 'oswald', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: var(--azuloscuro);
}
.img-acuarela{
    position: absolute;
    width: 100%;
    height: 600px;
    opacity: 0.8; /* Ajusta la opacidad según sea necesario */
    z-index: -1;
}
.swiper {
    width: 80%;
    padding-top: 80px;
    padding-bottom: 40px;
 }
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 200px;
    margin: 0;
}
.swiper-slide.swiper-slide-active {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    margin: 0;
}
/* Cards de productos */
.product-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px 7px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
    padding: 2% 0;
    height: 250px;
    width: auto;
    object-fit: contain;
}

.product-card h3 {
  font-size: 1.2rem;
  color:var(--azuloscuro);
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 13px;
  margin-bottom: 15px;
  color: #111111;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--azuloscuro);
  top: 55%;
  transform: translateX(-5%);
  z-index: 10;
}


/*|||||| Seccion ofertas ||||||*/

.ofertas{
    padding: 40px;
    color: var(--azuloscuro);
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}
.ofert-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    transition: all 0.3s;
    padding: 4% 0;
    border: 2px solid var(--azulmedio);
  }
.ofert-card:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    transform:scale(1.05)
  }
.ofert-img {
    padding: 5px;
    height: 250px;
    object-fit: contain;
    padding: 0;
  }
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.card-body h5{
    color: var(--azuloscuro);
  }
.card-body p{
    color:#111111;
  }
.precio{
    color: var(--azuloscuro);
}


/*|||||| Seccion de iconos ||||||*/

.icon-card {
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease;
    height: 100%;
  }
  
  .icon-card:hover {
    transform: translateY(-5px);
  }
 
  .icon-txt h3 {
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #111;
  }
  
  .icon-txt p {
    font-size: 15px;
    color: #111;
  }
  

.btn-reseña{
    background-color: var(--azuloscuro);
    color: var(--celeste);
}

.btn-reseña:hover{
    background-color: var(--azulmedio);
    color: var(--azuloscuro);
}
.opinion-title {
    font-size: 30px;
    color: var(--azuloscuro);
}

.card{
    background-color: white;
}
.card-title{
    color: var(--azuloscuro);
}


.stars{
    color:#c2c214;
}
.foot{
    background-color: var(--azuloscuro);
}
.footer{
    color: #ffffff;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.footer-column {
 flex: 1;
 margin: 0 15px;
}
.text-foot{
    color:var(--azulmedio);
}
.footer-column h5 {
 color: var(--texto-oscuro);
 font-size: 18px;
 margin-bottom: 10px;   
} 
.footer-column u1 {
    list-style: none;
    padding: 0;
}
.footer-column u1 li {
    margin-bottom: 8px;
}
.footer-column u1 li a{
color: white;
text-decoration:none;
font-size: 14px;
}
.footer-column u1 li a :hover {
    text-decoration: underline;
}
.footer-contact p {
margin: 5px 0;
font-size: 14px;
}
.footer-contact a {
    color: white;
    text-decoration: none;
}
.footer-contact a:hover {
    text-decoration: underline;
}
.footer-social a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.footer-social a:hover {
    color: #ff3b3f
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}
.link h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

/* ////////SECCION DE FORMULARIOS///////////*/


/*Fondo oscuro semitransparente */
.modal-fade {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Cuadro blanco del formulario */
.formulario {
     display:flex;
    background-color: white ;
    width: 900px;
    height: 580px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin-top: -20px;
}

/* Estructura de la imagen y formulario */
.form-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Imagen a la izquierda */
.form-image {
    width: 55%;
    display: block;
}

/* Formulario a la derecha*/
.form-content-login {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding:15px;
    align-items: center;
    text-align: center;
}
.form-content-registro {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding:15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Título del formulario */
.formulario h1 {
    margin-top: 15px;
    font-size: 42px;
    font-weight:700;
    color: var(--azuloscuro);  
}
.formulario h2 {
    margin-top: 45px;
    font-size: 42px;
    font-weight:700;
    color: var(--azuloscuro); 
}

/*Subtítulo del formulario */
.form-subtitle {
    font-size: 16px;
    color: var(--azuloscuro);
    margin-bottom: 10px;
}

/*Inputs */
.username {
    position: relative;
    width: 100%;
    margin-top: 19px;
}

.username input {
    width: 300px;
    padding: 5px;
    border: none; 
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--celeste);
}

/* Estilo del label */
.username label {
    position: absolute;
    left: 12px;
    top: 7px;
    color: var(--azuloscuro);
    font-size: 14px;
    transition: 0.3s;
}

/*Efecto al hacer foco */
.username input:focus ~ label, 
.username input:valid ~ label{
    top: -17px;
    left: 10px;
    font-size: 12px;
    color: var(--azuloscuro);
}

/* Enlace recordar contraseña */
.recordar a {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recordar a:hover{
    text-decoration: underline;
}


/* Enlace registrarse en modal login*/
.registrarse a {
    margin-top: 20px;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

/*Enlace de iniciar sesion en modal de registro*/
#btn-iniciar {
    margin-top: 5px;
    font-size: 14px;
    color: #00246B;
    text-decoration: none;
}

#btn-iniciar:hover{
    text-decoration: underline;
}

/* Botón de Google */
.google-login img {
    margin-top: 14px;
    width: 35px;
    cursor: pointer;
}

/* Botón cerrar */
.close-modal {
    position: absolute;
    top: 1px;
    right: 12px;
    background: none;
    border: none;
    font-weight: 500;
    color: var(--azuloscuro);
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}
.close-modal:hover {
    transform: scale(1.5);
}




/*ALERTAS*/

#toast-container > .toast-success {
    background-color: #28a745; /* Verde */
    color: white;
}

#toast-container > .toast-error {
    background-color: #dc3545; /* Rojo */
    color: white;
}

#toast-container > .toast-warning {
    background-color: #ffc107; /* Amarillo */
    color: black;
}

#toast-container > .toast-info {
    background-color: #17a2b8; /* Azul */
    color: white;
}


/* Parte responsiva*/
@media (max-width:991px) {

    .formulario {
    flex-direction: column;
    max-width: 480px;
    width: 100%;
    max-height: 550px;
  }

  .form-image {
    display: none;
  }

  .form-content-login {
    padding: 10px;
    justify-content: center;
    width: 100%;
    padding: 25px;
  }
  .form-content-registro {
    justify-content: center;
    width: 100%;
    padding: 25px;
  }

  .logo-formulario {
    margin-top: 0;
  }
}

/* Ajustes responsive extra */
@media (max-width: 768px) {
    .swiper{
        width: 85%;
    }
    .swiper-slide.swiper-slide-active {
        transform: scale(1); /* No hacer zoom en pantallas pequeñas */
    }
    .product-card img {
        width: 80%; /* Imagen que nunca se pase del card */
        height: auto;
    }

    .formulario {
        max-width: 360px;
        width: 100%;
        max-height: 450px;
      }
    .form-image {
        display: none;
    }

    .form-content-login {
        justify-content: center;
        width: 100%;
    }
     .logo-login{
        display: none;
     }
    
    .form-content-registro {
        justify-content: center;
        width: 100%;
    }
    .form-content-registro h2 {
        margin-top: 5px;
    }
     .form-content-registro p {
        display: none;
    }
}